/* ============================================================
   p14 — Client Flow (נוצר אוטומטית משקף 14)
   מיקומים וגדלים נאמנים למקור. עריכה ידנית: חופשי,
   אבל הרצה חוזרת של המחולל תדרוס את הקובץ.
   ============================================================ */

.p14-e0 {
  left: 333.57px;
  top: 580.15px;
  width: 201.88px;
  height: 191.68px;
  clip-path: path('M 187.81 57.42 C 179.44 38.46 167.67 19.39 148.61 9.57 C 146.86 8.69 145.01 7.82 143.16 7.14 C 134.12 3.15 124.59 1.01 114.76 0.62 C 113.4 0.43 111.94 0.23 110.48 0.13 C 101.15 -0.55 92.68 1.4 84.9 5 C 70.7 9.37 56.89 16.38 45.22 25.03 C 29.95 36.51 17.31 51.29 9.72 69 C 5.25 79.4 2.72 90.3 1.36 101.58 C -0.1 113.25 -0.88 125.51 1.65 136.98 C 6.12 157.02 22.66 172.97 40.65 181.63 C 59.52 190.67 80.62 193.4 101.24 190.67 C 123.13 187.75 143.94 179.1 162.62 167.43 C 179.44 156.92 195.69 142.72 200.35 122.59 C 205.51 100.12 196.66 77.65 187.81 57.42 Z');
  overflow: hidden;
}

.p14-e0 img {
  position: absolute;
  left: 0%;
  top: -1.75%;
  width: 100%;
  height: 103.5%;
}

.p14-e1 {
  left: -78.78px;
  top: 542.02px;
  width: 1784.7px;
  height: 229.78px;
  object-fit: fill;
}

.p14-e2 {
  left: 440.38px;
  top: 542.02px;
  width: 1784.7px;
  height: 229.78px;
  object-fit: fill;
}

.p14-e3 {
  left: 243.94px;
  top: 718.98px;
  width: 104.3px;
  height: 73.93px;
  transform: scaleY(-1);
  object-fit: fill;
}

.p14-e4 {
  left: 750.97px;
  top: 697.87px;
  width: 104.3px;
  height: 73.93px;
  transform: scaleY(-1);
  object-fit: fill;
}

.p14-e5 {
  left: 551.62px;
  top: 486.26px;
  width: 104.3px;
  height: 73.93px;
  object-fit: fill;
}

.p14-e6 {
  left: 980.31px;
  top: 489.26px;
  width: 104.3px;
  height: 73.93px;
  object-fit: fill;
}

.p14-e7 {
  left: 1221.43px;
  top: 734.83px;
  width: 104.3px;
  height: 73.93px;
  transform: scaleY(-1);
  object-fit: fill;
}

.p14-e8 {
  left: 296.96px;
  top: 804.26px;
  width: 297.71px;
  height: 42.1px;
}

.p14-e8-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-t0 {
  font-family: Arial, 'Liberation Sans', 'Heebo Variable', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #151857;
}

.p14-e9 {
  left: 235.71px;
  top: 865.97px;
  width: 420.21px;
  height: 32.7px;
}

.p14-e9-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-t1 {
  font-family: Arial, 'Liberation Sans', 'Heebo Variable', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #5b5b5b;
}

.p14-e10 {
  left: 748.88px;
  top: 810.3px;
  width: 402.98px;
  height: 42.09px;
}

.p14-e10-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e11 {
  left: 748.88px;
  top: 871.89px;
  width: 402.98px;
  height: 32.7px;
}

.p14-e11-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e12 {
  left: 1335.96px;
  top: 804.26px;
  width: 303.21px;
  height: 42.1px;
}

.p14-e12-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e13 {
  left: 1273.58px;
  top: 865.97px;
  width: 427.98px;
  height: 32.7px;
}

.p14-e13-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e14 {
  left: 1560.02px;
  top: 364.87px;
  width: 289.74px;
  height: 42.1px;
}

.p14-e14-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e15 {
  left: 1500.41px;
  top: 426.58px;
  width: 408.97px;
  height: 32.7px;
}

.p14-e15-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e16 {
  left: 94.18px;
  top: 502.25px;
  width: 201.88px;
  height: 191.68px;
  clip-path: path('M 187.81 57.42 C 179.44 38.46 167.67 19.39 148.61 9.57 C 146.86 8.69 145.01 7.82 143.16 7.14 C 134.12 3.15 124.59 1.01 114.76 0.62 C 113.4 0.43 111.94 0.23 110.48 0.13 C 101.15 -0.55 92.68 1.4 84.9 5 C 70.7 9.37 56.89 16.38 45.22 25.03 C 29.95 36.51 17.31 51.29 9.72 69 C 5.25 79.4 2.72 90.3 1.36 101.58 C -0.1 113.25 -0.88 125.51 1.65 136.98 C 6.12 157.02 22.66 172.97 40.65 181.63 C 59.52 190.67 80.62 193.4 101.24 190.67 C 123.13 187.75 143.94 179.1 162.62 167.43 C 179.44 156.92 195.69 142.72 200.35 122.59 C 205.51 100.12 196.66 77.65 187.81 57.42 Z');
  overflow: hidden;
}

.p14-e16 img {
  position: absolute;
  left: 0%;
  top: -1.75%;
  width: 100%;
  height: 103.5%;
}

.p14-e17 {
  left: 113.05px;
  top: 520.16px;
  width: 164.16px;
  height: 155.86px;
  clip-path: path('M 152.72 46.69 C 145.92 31.27 136.35 15.77 120.84 7.78 C 119.42 7.07 117.92 6.36 116.41 5.8 C 109.06 2.56 101.31 0.82 93.32 0.5 C 92.21 0.35 91.03 0.19 89.84 0.11 C 82.25 -0.44 75.37 1.14 69.04 4.06 C 57.49 7.62 46.26 13.32 36.77 20.36 C 24.35 29.69 14.07 41.71 7.9 56.1 C 4.27 64.57 2.21 73.42 1.1 82.6 C -0.08 92.09 -0.72 102.05 1.34 111.38 C 4.98 127.68 18.42 140.65 33.05 147.69 C 48.4 155.04 65.56 157.25 82.33 155.04 C 100.12 152.67 117.05 145.63 132.23 136.14 C 145.92 127.6 159.12 116.05 162.92 99.68 C 167.11 81.41 159.91 63.14 152.72 46.69 Z');
  overflow: hidden;
}

.p14-e17 img {
  position: absolute;
  left: -13.68%;
  top: 0%;
  width: 127.37%;
  height: 100%;
}

.p14-e18 {
  left: 425.48px;
  top: 158.08px;
  width: 683.52px;
  height: 81.47px;
}

.p14-e18-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-t2 {
  font-family: Arial, Helvetica, 'Heebo Variable', sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #151857;
}

.p14-e19 {
  left: 61.08px;
  top: 382.87px;
  width: 268.11px;
  height: 42.1px;
}

.p14-e19-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e20 {
  left: 29.77px;
  top: 444.58px;
  width: 330.73px;
  height: 32.7px;
}

.p14-e20-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e21 {
  left: 564.12px;
  top: 364.87px;
  width: 335.5px;
  height: 42.09px;
}

.p14-e21-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e22 {
  left: 539.99px;
  top: 426.58px;
  width: 383.74px;
  height: 32.7px;
}

.p14-e22-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e23 {
  left: 1000.59px;
  top: 364.98px;
  width: 415.4px;
  height: 42.09px;
}

.p14-e23-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e24 {
  left: 1000.59px;
  top: 426.58px;
  width: 415.4px;
  height: 32.7px;
}

.p14-e24-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-e25 {
  left: 352.27px;
  top: 600.11px;
  width: 164.16px;
  height: 155.86px;
  clip-path: path('M 152.72 46.69 C 145.92 31.27 136.35 15.77 120.84 7.78 C 119.42 7.07 117.92 6.36 116.41 5.8 C 109.06 2.56 101.31 0.82 93.32 0.5 C 92.21 0.35 91.03 0.19 89.84 0.11 C 82.25 -0.44 75.37 1.14 69.04 4.06 C 57.49 7.62 46.26 13.32 36.77 20.36 C 24.35 29.69 14.07 41.71 7.9 56.1 C 4.27 64.57 2.21 73.42 1.1 82.6 C -0.08 92.09 -0.72 102.05 1.34 111.38 C 4.98 127.68 18.42 140.65 33.05 147.69 C 48.4 155.04 65.56 157.25 82.33 155.04 C 100.12 152.67 117.05 145.63 132.23 136.14 C 145.92 127.6 159.12 116.05 162.92 99.68 C 167.11 81.41 159.91 63.14 152.72 46.69 Z');
  overflow: hidden;
}

.p14-e25 img {
  position: absolute;
  left: -1.7%;
  top: 0%;
  width: 103.41%;
  height: 100%;
}

.p14-e26 {
  left: 610.5px;
  top: 502.25px;
  width: 201.88px;
  height: 191.68px;
  clip-path: path('M 187.81 57.42 C 179.44 38.46 167.67 19.39 148.61 9.57 C 146.86 8.69 145.01 7.82 143.16 7.14 C 134.12 3.15 124.59 1.01 114.76 0.62 C 113.4 0.43 111.94 0.23 110.48 0.13 C 101.15 -0.55 92.68 1.4 84.9 5 C 70.7 9.37 56.89 16.38 45.22 25.03 C 29.95 36.51 17.31 51.29 9.72 69 C 5.25 79.4 2.72 90.3 1.36 101.58 C -0.1 113.25 -0.88 125.51 1.65 136.98 C 6.12 157.02 22.66 172.97 40.65 181.63 C 59.52 190.67 80.62 193.4 101.24 190.67 C 123.13 187.75 143.94 179.1 162.62 167.43 C 179.44 156.92 195.69 142.72 200.35 122.59 C 205.51 100.12 196.66 77.65 187.81 57.42 Z');
  overflow: hidden;
}

.p14-e26 img {
  position: absolute;
  left: 0%;
  top: -1.75%;
  width: 100%;
  height: 103.5%;
}

.p14-e27 {
  left: 629.36px;
  top: 520.16px;
  width: 164.16px;
  height: 155.86px;
  clip-path: path('M 152.72 46.69 C 145.92 31.27 136.35 15.77 120.84 7.78 C 119.42 7.07 117.92 6.36 116.41 5.8 C 109.06 2.56 101.31 0.82 93.32 0.5 C 92.21 0.35 91.03 0.19 89.84 0.11 C 82.25 -0.44 75.37 1.14 69.04 4.06 C 57.49 7.62 46.26 13.32 36.77 20.36 C 24.35 29.69 14.07 41.71 7.9 56.1 C 4.27 64.57 2.21 73.42 1.1 82.6 C -0.08 92.09 -0.72 102.05 1.34 111.38 C 4.98 127.68 18.42 140.65 33.05 147.69 C 48.4 155.04 65.56 157.25 82.33 155.04 C 100.12 152.67 117.05 145.63 132.23 136.14 C 145.92 127.6 159.12 116.05 162.92 99.68 C 167.11 81.41 159.91 63.14 152.72 46.69 Z');
  overflow: hidden;
}

.p14-e27 img {
  position: absolute;
  left: 0%;
  top: -1.31%;
  width: 100%;
  height: 102.62%;
}

.p14-e28 {
  left: 849.42px;
  top: 580.15px;
  width: 201.88px;
  height: 191.68px;
  clip-path: path('M 187.81 57.42 C 179.44 38.46 167.67 19.39 148.61 9.57 C 146.86 8.69 145.01 7.82 143.16 7.14 C 134.12 3.15 124.59 1.01 114.76 0.62 C 113.4 0.43 111.94 0.23 110.48 0.13 C 101.15 -0.55 92.68 1.4 84.9 5 C 70.7 9.37 56.89 16.38 45.22 25.03 C 29.95 36.51 17.31 51.29 9.72 69 C 5.25 79.4 2.72 90.3 1.36 101.58 C -0.1 113.25 -0.88 125.51 1.65 136.98 C 6.12 157.02 22.66 172.97 40.65 181.63 C 59.52 190.67 80.62 193.4 101.24 190.67 C 123.13 187.75 143.94 179.1 162.62 167.43 C 179.44 156.92 195.69 142.72 200.35 122.59 C 205.51 100.12 196.66 77.65 187.81 57.42 Z');
  overflow: hidden;
}

.p14-e28 img {
  position: absolute;
  left: 0%;
  top: -1.75%;
  width: 100%;
  height: 103.5%;
}

.p14-e29 {
  left: 868.28px;
  top: 598.06px;
  width: 164.16px;
  height: 155.86px;
  clip-path: path('M 152.72 46.69 C 145.92 31.27 136.35 15.77 120.84 7.78 C 119.42 7.07 117.92 6.36 116.41 5.8 C 109.06 2.56 101.31 0.82 93.32 0.5 C 92.21 0.35 91.03 0.19 89.84 0.11 C 82.25 -0.44 75.37 1.14 69.04 4.06 C 57.49 7.62 46.26 13.32 36.77 20.36 C 24.35 29.69 14.07 41.71 7.9 56.1 C 4.27 64.57 2.21 73.42 1.1 82.6 C -0.08 92.09 -0.72 102.05 1.34 111.38 C 4.98 127.68 18.42 140.65 33.05 147.69 C 48.4 155.04 65.56 157.25 82.33 155.04 C 100.12 152.67 117.05 145.63 132.23 136.14 C 145.92 127.6 159.12 116.05 162.92 99.68 C 167.11 81.41 159.91 63.14 152.72 46.69 Z');
  overflow: hidden;
}

.p14-e29 img {
  position: absolute;
  left: 0%;
  top: -2.66%;
  width: 100%;
  height: 105.32%;
}

.p14-e30 {
  left: 1107.34px;
  top: 512.69px;
  width: 201.88px;
  height: 191.68px;
  clip-path: path('M 187.81 57.42 C 179.44 38.46 167.67 19.39 148.61 9.57 C 146.86 8.69 145.01 7.82 143.16 7.14 C 134.12 3.15 124.59 1.01 114.76 0.62 C 113.4 0.43 111.94 0.23 110.48 0.13 C 101.15 -0.55 92.68 1.4 84.9 5 C 70.7 9.37 56.89 16.38 45.22 25.03 C 29.95 36.51 17.31 51.29 9.72 69 C 5.25 79.4 2.72 90.3 1.36 101.58 C -0.1 113.25 -0.88 125.51 1.65 136.98 C 6.12 157.02 22.66 172.97 40.65 181.63 C 59.52 190.67 80.62 193.4 101.24 190.67 C 123.13 187.75 143.94 179.1 162.62 167.43 C 179.44 156.92 195.69 142.72 200.35 122.59 C 205.51 100.12 196.66 77.65 187.81 57.42 Z');
  overflow: hidden;
}

.p14-e30 img {
  position: absolute;
  left: 0%;
  top: -1.75%;
  width: 100%;
  height: 103.5%;
}

.p14-e31 {
  left: 1126.2px;
  top: 530.6px;
  width: 164.16px;
  height: 155.86px;
  clip-path: path('M 152.72 46.69 C 145.92 31.27 136.35 15.77 120.84 7.78 C 119.42 7.07 117.92 6.36 116.41 5.8 C 109.06 2.56 101.31 0.82 93.32 0.5 C 92.21 0.35 91.03 0.19 89.84 0.11 C 82.25 -0.44 75.37 1.14 69.04 4.06 C 57.49 7.62 46.26 13.32 36.77 20.36 C 24.35 29.69 14.07 41.71 7.9 56.1 C 4.27 64.57 2.21 73.42 1.1 82.6 C -0.08 92.09 -0.72 102.05 1.34 111.38 C 4.98 127.68 18.42 140.65 33.05 147.69 C 48.4 155.04 65.56 157.25 82.33 155.04 C 100.12 152.67 117.05 145.63 132.23 136.14 C 145.92 127.6 159.12 116.05 162.92 99.68 C 167.11 81.41 159.91 63.14 152.72 46.69 Z');
  overflow: hidden;
}

.p14-e31 img {
  position: absolute;
  left: -11.44%;
  top: 0%;
  width: 122.87%;
  height: 100%;
}

.p14-e32 {
  left: 1615.67px;
  top: 508.28px;
  width: 201.88px;
  height: 191.68px;
  clip-path: path('M 187.81 57.42 C 179.44 38.46 167.67 19.39 148.61 9.57 C 146.86 8.69 145.01 7.82 143.16 7.14 C 134.12 3.15 124.59 1.01 114.76 0.62 C 113.4 0.43 111.94 0.23 110.48 0.13 C 101.15 -0.55 92.68 1.4 84.9 5 C 70.7 9.37 56.89 16.38 45.22 25.03 C 29.95 36.51 17.31 51.29 9.72 69 C 5.25 79.4 2.72 90.3 1.36 101.58 C -0.1 113.25 -0.88 125.51 1.65 136.98 C 6.12 157.02 22.66 172.97 40.65 181.63 C 59.52 190.67 80.62 193.4 101.24 190.67 C 123.13 187.75 143.94 179.1 162.62 167.43 C 179.44 156.92 195.69 142.72 200.35 122.59 C 205.51 100.12 196.66 77.65 187.81 57.42 Z');
  overflow: hidden;
}

.p14-e32 img {
  position: absolute;
  left: 0%;
  top: -1.75%;
  width: 100%;
  height: 103.5%;
}

.p14-e33 {
  left: 1634.53px;
  top: 526.19px;
  width: 164.16px;
  height: 155.86px;
  clip-path: path('M 152.72 46.69 C 145.92 31.27 136.35 15.77 120.84 7.78 C 119.42 7.07 117.92 6.36 116.41 5.8 C 109.06 2.56 101.31 0.82 93.32 0.5 C 92.21 0.35 91.03 0.19 89.84 0.11 C 82.25 -0.44 75.37 1.14 69.04 4.06 C 57.49 7.62 46.26 13.32 36.77 20.36 C 24.35 29.69 14.07 41.71 7.9 56.1 C 4.27 64.57 2.21 73.42 1.1 82.6 C -0.08 92.09 -0.72 102.05 1.34 111.38 C 4.98 127.68 18.42 140.65 33.05 147.69 C 48.4 155.04 65.56 157.25 82.33 155.04 C 100.12 152.67 117.05 145.63 132.23 136.14 C 145.92 127.6 159.12 116.05 162.92 99.68 C 167.11 81.41 159.91 63.14 152.72 46.69 Z');
  overflow: hidden;
}

.p14-e33 img {
  position: absolute;
  left: 0%;
  top: -2.66%;
  width: 100%;
  height: 105.32%;
}

.p14-e34 {
  left: 1376.91px;
  top: 580.15px;
  width: 201.88px;
  height: 191.68px;
  clip-path: path('M 187.81 57.42 C 179.44 38.46 167.67 19.39 148.61 9.57 C 146.86 8.69 145.01 7.82 143.16 7.14 C 134.12 3.15 124.59 1.01 114.76 0.62 C 113.4 0.43 111.94 0.23 110.48 0.13 C 101.15 -0.55 92.68 1.4 84.9 5 C 70.7 9.37 56.89 16.38 45.22 25.03 C 29.95 36.51 17.31 51.29 9.72 69 C 5.25 79.4 2.72 90.3 1.36 101.58 C -0.1 113.25 -0.88 125.51 1.65 136.98 C 6.12 157.02 22.66 172.97 40.65 181.63 C 59.52 190.67 80.62 193.4 101.24 190.67 C 123.13 187.75 143.94 179.1 162.62 167.43 C 179.44 156.92 195.69 142.72 200.35 122.59 C 205.51 100.12 196.66 77.65 187.81 57.42 Z');
  overflow: hidden;
}

.p14-e34 img {
  position: absolute;
  left: 0%;
  top: -1.75%;
  width: 100%;
  height: 103.5%;
}

.p14-e35 {
  left: 1395.77px;
  top: 598.06px;
  width: 164.16px;
  height: 155.86px;
  clip-path: path('M 152.72 46.69 C 145.92 31.27 136.35 15.77 120.84 7.78 C 119.42 7.07 117.92 6.36 116.41 5.8 C 109.06 2.56 101.31 0.82 93.32 0.5 C 92.21 0.35 91.03 0.19 89.84 0.11 C 82.25 -0.44 75.37 1.14 69.04 4.06 C 57.49 7.62 46.26 13.32 36.77 20.36 C 24.35 29.69 14.07 41.71 7.9 56.1 C 4.27 64.57 2.21 73.42 1.1 82.6 C -0.08 92.09 -0.72 102.05 1.34 111.38 C 4.98 127.68 18.42 140.65 33.05 147.69 C 48.4 155.04 65.56 157.25 82.33 155.04 C 100.12 152.67 117.05 145.63 132.23 136.14 C 145.92 127.6 159.12 116.05 162.92 99.68 C 167.11 81.41 159.91 63.14 152.72 46.69 Z');
  overflow: hidden;
}

.p14-e35 img {
  position: absolute;
  left: -1.3%;
  top: 0%;
  width: 102.59%;
  height: 100%;
}

.p14-e36 {
  left: -108.99px;
  top: 0px;
  width: 461.26px;
  height: 88.11px;
}

.p14-e37 {
  left: -68.49px;
  top: -15.19px;
  width: 380.26px;
  height: 103.3px;
}

.p14-e37-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5.33px 5.33px 5.33px 5.33px;
}

.p14-e38 {
  left: 260.27px;
  top: -19.89px;
  width: 279.73px;
  height: 127.89px;
}

.p14-e39 {
  left: 319.05px;
  top: -41.94px;
  width: 162.15px;
  height: 149.94px;
}

.p14-e39-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5.33px 5.33px 5.33px 5.33px;
}

.p14-e40 {
  left: 429.34px;
  top: -19.89px;
  width: 279.73px;
  height: 127.89px;
}

.p14-e41 {
  left: 488.12px;
  top: -41.94px;
  width: 162.15px;
  height: 149.94px;
}

.p14-e41-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5.33px 5.33px 5.33px 5.33px;
}

.p14-e42 {
  left: 1231.18px;
  top: 991.89px;
  width: 461.26px;
  height: 88.11px;
}

.p14-e43 {
  left: 1271.68px;
  top: 976.7px;
  width: 380.26px;
  height: 103.3px;
}

.p14-e43-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5.33px 5.33px 5.33px 5.33px;
}

.p14-e44 {
  left: 1600.44px;
  top: 972px;
  width: 279.73px;
  height: 127.89px;
}

.p14-e45 {
  left: 1659.23px;
  top: 949.95px;
  width: 162.15px;
  height: 149.94px;
}

.p14-e45-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5.33px 5.33px 5.33px 5.33px;
}

.p14-e46 {
  left: 1769.51px;
  top: 972px;
  width: 279.73px;
  height: 127.89px;
}

.p14-e47 {
  left: 1828.3px;
  top: 949.95px;
  width: 162.15px;
  height: 149.94px;
}

.p14-e47-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5.33px 5.33px 5.33px 5.33px;
}

.p14-e48 {
  left: 1496.14px;
  top: 483.22px;
  width: 104.3px;
  height: 73.93px;
  object-fit: fill;
}

.p14-e49 {
  left: 1126.2px;
  top: 71.18px;
  width: 304.06px;
  height: 261.3px;
}

.p14-e50 {
  left: 1168.95px;
  top: 56.92px;
  width: 218.55px;
  height: 275.56px;
}

.p14-e50-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5.33px 5.33px 5.33px 5.33px;
}

.p14-e51 {
  left: 1159.19px;
  top: 96.69px;
  width: 242.83px;
  height: 210.28px;
  clip-path: path('M 182.12 0 L 60.71 0 L 0 105.14 L 60.71 210.28 L 182.12 210.28 L 242.83 105.14 Z');
  overflow: hidden;
}

.p14-e51 img {
  position: absolute;
  left: -11.34%;
  top: 0%;
  width: 122.68%;
  height: 100%;
}

.p14-e52 {
  left: 1533.36px;
  top: 21.72px;
  width: 200.79px;
  height: 172.56px;
}

.p14-e53 {
  left: 1561.59px;
  top: 12.31px;
  width: 144.32px;
  height: 181.97px;
}

.p14-e53-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.72px 1.72px 1.72px 1.72px;
}

.p14-e54 {
  left: 1654.27px;
  top: 36.2px;
  width: 269.79px;
  height: 143.59px;
}

.p14-e55 {
  left: 1654.27px;
  top: 32.43px;
  width: 269.79px;
  height: 147.36px;
}

.p14-e55-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.72px 1.72px 1.72px 1.72px;
}

.p14-e56 {
  left: 1546.35px;
  top: 31.85px;
  width: 174.8px;
  height: 152.29px;
}

.p14-e57 {
  left: 1554.83px;
  top: 39.59px;
  width: 157.85px;
  height: 136.69px;
  clip-path: path('M 118.39 0 L 39.46 0 L 0 68.35 L 39.46 136.69 L 118.39 136.69 L 157.85 68.35 Z');
  overflow: hidden;
}

.p14-e57 img {
  position: absolute;
  left: -29.38%;
  top: 0%;
  width: 158.77%;
  height: 100%;
}

.p14-e58 {
  left: 1727.7px;
  top: 106.98px;
  width: 40.91px;
  height: 76.15px;
  transform: scaleY(-1);
  overflow: visible;
}

.p14-e59 {
  left: 1725.7px;
  top: 32.91px;
  width: 42.93px;
  height: 75.03px;
  transform: scaleX(-1) scaleY(-1);
  overflow: visible;
}

.p14-e60 {
  left: 1773.48px;
  top: 54.24px;
  width: 117.33px;
  height: 103.77px;
}

.p14-e60-tx {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}

.p14-t3 {
  font-family: 'Open Sans', 'Heebo Variable', sans-serif;
  font-size: 29.09px;
  font-weight: 700;
  color: #ffffff;
}
